<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header-card" class="cardBox">
  <div class="card">
    <div>
      <div class="numbers">21</div>
      <div class="cardName"> <i class='bx bx-cart-download'></i> Đơn Đã Bán</div>
    </div>

    <div class="iconBx">
      <ion-icon name="eye-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">29</div>
      <div class="cardName"> <i class='bx bxs-circle-three-quarter'></i>Sản Phẩm Đã Bán</div>
    </div>

    <div class="iconBx">
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">15</div>
      <div class="cardName"> <i class='bx bx-user'></i>Người Dùng</div>
    </div>

    <div class="iconBx">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">234</div>
      <div class="cardName"> <i class='bx bx-money-withdraw'></i>Lượt Truy Cập</div>
    </div>

    <div class="iconBx">
      <ion-icon name="cash-outline"></ion-icon>
    </div>
  </div>
</div>
</body>
</html>